<div id="articles-container" class="span12">

  <div id='left-column' class="span3">
    <br><br><br><br><br>
    <form id="new_feed">
      <input type="text" name="name" id="new_feed_name" placeholder="Enter Rss URL">
      <input type="submit" value="New RSS Feed">
    </form>
    <ul id='title-list'>
      {{#each sources}}
        <li style='color:#FCCA03'>
          {{name}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div id="right-column" class="span9">
    <br>
    <h2 id='listing'>Listing articles</h2>
    <ul class="article_list" class='span8'>
      {{#each articles}}
        <li>
          <div class='span8' id="eight">
            <div class='span6' id='six'><a href='#articles/{{id}}'><b>{{name}}</b></a></div>
            <div class='span2' id='one'>{{published_at}}</div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

</div>

